/* Skills */
#skills {
  position: relative;
  background: var(--color-primary-variant) center/cover fixed;
  background-image: var(--skills-bg-svg);
  color: var(--color-text);
}
#skills::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(139% + 1.3px);
  height: 75px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--color-primary);
  mask: var(--divider-multi-wave);
  -webkit-mask: var(--divider-multi-wave);
}

.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.skills__coding {
  padding: 1.5rem;
}
.skills__icon {
  font-size: 5rem;
  transition: all 0.3s ease-in-out;
}

.skills__coding:hover .skills__icon {
  transform: scale(1.1) rotate(5deg);
  color: var(--color-accent);
}
.skills__icon__description {
  font-size: 1rem;
  padding: 1rem 0;
}
