@import url('header.css');
@import url('home.css');
@import url('about.css');
@import url('skills.css');
@import url('projects.css');
@import url('testimonials.css');
@import url('resume.css');
@import url('contact.css');
@import url('arrow-up.css');
/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* Size */
  --size-max-width: 1300px;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-text);
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}
.title {
  font-size: 2.5rem;
  margin: 2rem 0;
}
.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.button {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-primary);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
}
/* HEADER*/
/* header.css */

/* MAIN */
/* home.css */
/* about.css */
/* skills.css */
/* projects.css */
/* testimonials.css */
/* resume.css */
/* arrow-up.css */

/* FOOTER */
/* contact.css */
